/********index.html******/
/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* Top container on index page */
.div-top-top {
    display: flex;
    justify-content: center;
        /* Test glassmorphism */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Format Title */
.main-title {
    color:goldenrod;
    border-bottom: solid 2px gold;
    border-top: solid 2px gold;
    font-size: 100px;
    border-radius: 20px;
    padding: 0 50px;
    font-family: 'Waterfall', sans-serif;
}

.div-top-container {
    font-family: 'Waterfall', sans-serif;
    font-size: 50px;
    color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 100px;
    width: 100%;
    /* Test glassmorphism */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    z-index: 5;
}

.div-top-element {
    color:goldenrod;
}


.div-header {

    background-image: url("../images/luca-bravo-O453M2Liufs-unsplash.jpg");
    background-size: 100% 100%;
    width: auto;
    height: 386px;
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}

/* Format links */

.nav-bar-link:link { 
    text-decoration: none;
    color:goldenrod;
}

.nav-bar-link:visited { 
    text-decoration: none;
    color:goldenrod;
}

/* .nav-bar-link:hover { 
    text-decoration: none;
    color:goldenrod;
    background-color: white;
} */

.nav-bar-link:active { 
    text-decoration: none;
    color:goldenrod;
}

/* Albums page */

/* .albums-global {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    font-family: 'Pirata One', cursive;
    font-size: 35px;
    justify-items: center;
    color:rgb(214, 137, 20);
} */

.albums-global {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Pirata One', cursive;
    font-size: 80px;;
    color:rgb(214, 137, 20);
    /* padding: 10px; */
    gap: 10px;
}